.herlet {
    max-width: 400px;
    margin: 0 auto; 
}
.textBlock {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid black;
}
.textBlock >p {
    margin: 0;
    text-overflow: clip;
}
.textBlock > button {
    
}
.addButton{
    width: 30%;
    margin: 0 auto;
}