.titleBox {
    background-color: yellow;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
}
.herlet {
    max-width: 400px;
    margin: 0 auto; 
    background-color: orchid;
    padding: 50px;
}
.textBlock {
    display:flex;
    flex-direction: row;
    justify-content:stretch;
    align-items: flex-start;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: orange;
}
.textBlock >p {
    margin: 0 5px;
    text-overflow: clip;
    word-wrap: break-word;
    overflow: hidden;
    width: 100%;
}
.textBlock > input [type=text] {
    width: 100%;
    size: 50px;
}
.textBlock > button {
    border-radius: 5px;
    padding: 2px 4px;
    background-color: white;
    margin-left: auto;
}

.addButton{
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
}